{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
Search in our never-ending products
{% endblock %}
{% block title %}
Search
{% endblock %}

{% block content %}
<div>
    <p class="text-center search_text">You have searched for :<b>"{{query}}"</b></p>
</div>


<div class="container">
  <div class="row mx-auto">
      {% for product in products %}
      <div class="product-margin col-9 col-sm-12 col-md-4 col-lg-4">
          <div class="card text-center" style="min-width : 18rem;">
              <a class="card-img-top my-image" href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}" style="width : 100%; height: 280px;"></a>
              <div class="card-body">
                 <h4 class="card-title">{{product.name}}</h4>
                  <p>₹{{product.price}}/-</p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
      {% for product in products %}
      {% empty %}
      <div class="row mx-auto">
          <p class="text-center search_text">"0" Results found</p>
      </div>
      {% endfor %}
{% endblock %}
